<div class="header">
    <div class="top">
        <span class="title">{{title}}</span>
        <div class="labels">
            <span class="id">{{id}}</span>
            <span class="full-url">
                <a target="_blank" href={{url}}>full url</a>
            </span>
            <span class="edit-url">
                <a target="_blank" href={{editUrl}}>edit url</a>
            </span>
        </div>
    </div>
    <span class="search">result of:
        <span class="search-term">
            <a target="_blank" href={{searchLink}}>{{searchPhrase}}</a>
        </span>
    </span>
</div>

<div class="content">
    <div class="description">
        {{description}}
    </div>
    <div class="extract">
        {{{summary}}}
    </div>

    <div class="links-section">
        {{#if extlinks}}
        <details class="links">
            <summary>External links</summary>
            <ul class="link-list">
                {{#each extlinks}}
                <li><a target="_blank" href={{this}} class="link">{{this}}</a></li>
                {{/each}}
            </ul>
        </details>
        {{/if}}
    </div>
</div>


<hr>