<div class="header">
    <span class="title">{{title}}</span>
    <div class="labels">
        <span class="id">{{id}}</span>
        <span class="url"><a target="_blank" href={{url}}>full url</a></span>
        <span class="url"><a target="_blank" href={{editUrl}}>edit url</a></span>
    </div>
</div>

<div class="content">
    <div class="description">
        {{description}}
    </div>
    <div class="extract">
        {{{summary}}}
    </div>
</div>

<hr>