<div class="header">
    <div class="top">
        <span class="title">{{title}}</span>
        <div class="labels">
            <span class="lang">{{lang.name}}</span>
            <span class="id">{{id}}</span>
            <span class="full-url">
                <a target="_blank" href={{url}}>full url</a>
            </span>
            <span class="edit-url">
                <a target="_blank" href={{editUrl}}>edit url</a>
            </span>
        </div>
    </div>
    <span class="search">result of:
        <span class="search-term">
            <a target="_blank" href={{searchLink}}>{{searchPhrase}}</a>
        </span>
    </span>
</div>

<div class="content">
    <div class="description">
        <span>{{description}}</span>
    </div>
    <div class="extract">
        {{#if summary}}
        <span>{{{summary}}}</span>
        {{else}}
        <span>No summary available.</span>
        {{/if}}
    </div>

    <div class="extras-section">
        {{#if aliases}}
        <details class="extra">
            <summary class="extra-summary">aliases</summary>
            <ul class="extras-list">
                {{#each aliases}}
                <li class="extras-item">{{this}}</li>
                {{/each}}
            </ul>
        </details>
        {{/if}}

        {{#if extlinks}}
        <details class="extra">
            <summary class="extra-summary">external links</summary>
            <ul class="extras-list">
                {{#each extlinks}}
                <li class="extras-item">
                    <a target="_blank" href={{this}} class="link">{{this}}</a>
                </li>
                {{/each}}
            </ul>
        </details>
        {{/if}}
    </div>
</div>


<hr>